.side-bar {
    background-color: #BA86D0;
    width: 200px;
    height: 100%;
    position: fixed;
}

.nav, .icons {
    color: white;
}

.nav {
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 15px;
    margin: 10px;
}

.icons {
    color: white;
    font-size: 30px;
    margin: 30px;
    position: absolute;
    bottom: 15%;
}

.icon-item {
    margin-right: 15px;
}