.sidebar {
    background-color: #BA86D0;
    width: 200px;
    min-height: 9vh !important;
    position: fixed;
    top: 95px;
    bottom: 0;
    left: 0;
    font-family: 'Amaranth';
    z-index: 100;
    padding: 48px 0 0;
}

.nav-link, .icon-item {
    color: white;
}

.nav-item {
    font-size: 20px;
    position: relative;
    margin: 0 10px;
}

.icons {
    font-size: 30px;
    margin: 30px;
    position: fixed;
    bottom: 1%;
}

.icon-item {
    margin-right: 15px;
}