.sidebar {
    background-color: #BA86D0;
    width: 200px;
    min-height: 95vh !important;
    position: fixed;
    top: 95px;
    bottom: 0;
    left: 0;
    font-family: 'Amaranth';
    z-index: 100;
    padding: 48px 0 0;
}

.nav, .icons {
    color: white;
}

.nav {
    font-size: 20px;
    position: relative;
    top: 20px;
    margin: 10px;
}

.icons {
    color: white;
    font-size: 30px;
    margin: 30px;
    position: absolute;
    bottom: 12%;
}

.icon-item {
    margin-right: 15px;
}